.head{
    margin-top: 20px;
    margin-bottom: 30px;
    height: 350px !important;
    background-image: url('../../../img/catedral-primada.jpg');
    background-size: 100% 100%;
    border-radius: 16px !important;
}

.headMobile{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 280px !important;
    background-color: blueviolet !important;
    background-image: url('../../../img/catedral-primada.jpg');
    background-position-y: 30px;
    background-size: 145%;
    background-repeat: no-repeat;
}

.LocalImage_lg{
margin-left: 130px;
padding-top: 50px;
}

.LocalImage_sm{
    margin-left: 130px;
    padding-top: 30px;
    padding-bottom: 30px;
    background:#d1b59fcc;
    width: 60%;
    float:right;
    text-align: center;
    }